.index {
    
    
    margin-left: 25%;
    display: grid;
   
    row-gap: 30px;
    
    position: absolute;
}

.title {
    margin-left: 30%;
    font-size: 60px;
    
}

.alinea {
    font-size: 40px;
   
}
body {
    background-color: white;
}